.todoCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.todoCardContainer:hover {
  background-color: whitesmoke;
  transition: 300ms ease-in-out;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

@media screen and (max-width: 580px) {
  .todoCardContainer {
    flex-direction: column;
    margin: 15px 0px;
  }
  .buttonGroup {
    margin-top: 20px;
  }
  .todoTitle {
    font-size: 16px;
  }
}
